{% extends 'base.html' %}

{% block navbar %}
<!-- nav bar -->

        <ul id="nav">
		<div id="menudrop">
          {{course_info.base.after_navbar_begins}}
          <li {% if navbar.preview %}class='active'{% endif %}>
            <a href="preview">
              {% trans %} <img src="http://mypage.iu.edu/~hplagema/mooc/images/home.png"> {% endtrans %}
            </a>
          </li>
          <li {% if navbar.course %}class='active'{% endif %}>
            <a href="course">
              {% trans %} Course {% endtrans %}
            </a>
          </li>
          {% if course_info.course.forum_embed_url %}
          <li {% if navbar.forum %}class='active'{% endif %}>
            <a href="forum">
              {% trans %} <img src="http://mypage.iu.edu/~hplagema/mooc/images/forum.png"> {% endtrans %}
            </a>
          </li>
          {% endif %}
		  
		  <li {% if navbar.unit %}class='active'{% endif %}>
            <a href="unit?unit=2">
              {% trans %} <img src="http://mypage.iu.edu/~hplagema/mooc/images/lessons.png"> {% endtrans %}
            </a>

				<ul id="dropitems>
					<li {% if navbar.unit %}class='active'{% endif %}>
						<a href="unit?unit=2"> 
							{% trans %} FIRST LI ITEM DOESNT SHOW UP FOR SOME REASON FIGURE OUT WHY {% endtrans %}
						</a>
					</li>
					<li {% if navbar.unit %}class='active'{% endif %}>
						<a href="unit?unit=1">
							{% trans %} Unit 1 {% endtrans %}
						</a>
					</li>
					<li {% if navbar.unit %}class='active'{% endif %}>
						<a href="unit?unit=2">
							{% trans %} Unit 2 {% endtrans %}
						</a>
					</li>
					<li {% if navbar.unit %}class='active'{% endif %}>
						<a href="unit?unit=3">
							{% trans %} Unit 3 {% endtrans %}
						</a>
					</li>
					<li {% if navbar.unit %}class='active'{% endif %}>
						<a href="unit?unit=4">
							{% trans %} Unit 4 {% endtrans %}
						</a>
					</li>
					<li {% if navbar.unit %}class='active'{% endif %}>
						<a href="unit?unit=5">
							{% trans %} Unit 5 {% endtrans %}
						</a>
					</li>
					<li {% if navbar.unit %}class='active'{% endif %}>
						<a href="unit?unit=6">
							{% trans %} Unit 6 {% endtrans %}
						</a>
					</li>
				</ul>
			</li>
          <li {% if navbar.myprofile %}class='active'{% endif %}>
            <a href="student/home">
              {% trans %} My Profile {% endtrans %}
            </a>
          </li>
          {{course_info.base.before_navbar_ends}}
          {% if is_super_admin %}
          <li class="pull-right">
            <a href="/admin">Admin</a>
          </li>
          {% endif %}
          {% if is_course_admin %}
          <li class="pull-right">
            <a href="dashboard">Dashboard</a>
          </li>
          {% endif %}
		  <li>
			<h2>
				<a href="/">{{course_info.base.nav_header}}</a>
			</h2>
				{% if course_info.base.show_gplus_button %}
					<span class="plusone-button" id="plusone-3" style="height: 15px; width: 70px; display: inline-block; text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; background-position: initial initial; background-repeat: initial initial; ">
						<g:plusone size="medium"></g:plusone>
					</span>
				{% endif %}
				{% if logoutUrl %}
					<div class="pull-right" style="font-size: larger;">
						{{ email }}
						&nbsp;|&nbsp;
							<a href="{{ logoutUrl }}" style="text-decoration: none;">
								{% trans %} <img src="http://gozips.uakron.edu/~heb10/Button_Logout.gif"> {% endtrans %}
							</a>
					</div>
						{% elif loginUrl %}
						<div class="pull-right" style="font-size: larger;">
							<a href="{{ loginUrl }}">{% trans %} Login {% endtrans %}</a>

						{% endif %}
						</div>
			</li>

        </ul>

	<div class="clear"> </div>

{% endblock %}

<div class="gcb-main">
			<!-- Begin - learn more section (image + article abstracts)-->

	<div id="oscillating_articles">
		<!-- Begin - learn more section (image + article abstracts)-->
		<div class="cloud_computing">
			<img src="http://mypage.iu.edu/~hplagema/mooc/images/cloud_benefits.jpg" style="float: left;"/>
			<p style="font-weight: bold;"> <h1 style="font-size: 120%;">What is Cloud Computing?</h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cloud computing is a general term for anything that involves delivering hosted 
			services over the Internet. These services are broadly divided into three categories: Infrastructure-as-a-Service (IaaS), Platform-as-a-Service (PaaS) and 
			Software-as-a-Service (SaaS).  A cloud service has three distinct characteristics that differentiate it from traditional hosting. It is sold on demand, typically 
			by the minute or the hour; it is elastic -- a user can have as much or as little of a service as they want at any given time; and the service is fully managed by 
			the provider (the consumer needs nothing but a personal computer and Internet access)..... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#"/>Learn More</a></p>
		</div>
		
		<div class="cloud_benefits" style="width: 857px; 80px; padding-top: 20px; padding-bottom: 20px;">
			<img src="http://mypage.iu.edu/~hplagema/mooc/images/cloud_computing.jpg" style="float: right; padding-right: 17px;"/>
			<p style="font-weight: bold;"> <h1 style="font-size: 120%;">How You Can Benefit</h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cloud computing is a general term for anything that involves delivering hosted 
			services over the Internet. These services are broadly divided into three categories: Infrastructure-as-a-Service (IaaS), Platform-as-a-Service (PaaS) and 
			Software-as-a-Service (SaaS).  A cloud service has three distinct characteristics that differentiate it from traditional hosting. It is sold on demand, typically 
			by the minute or the hour; it is elastic -- a user can have as much or as little of a service as they want at any given time; and the service is fully managed by 
			the provider (the consumer needs nothing but a personal computer and Internet access)..... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#"/>Learn More</a></p>
		</div>
		
		<div class="job_outlook">
			<img src="http://mypage.iu.edu/~hplagema/mooc/images/job_outlook.jpg" style="float: left; padding-right: 17px; padding-bottom: 100px;"/>
			<p style="font-weight: bold;"> <h1 style="font-size: 120%;">Job Outlook</h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cloud computing is one of today's hottest 
			IT trends, because it's all about saving money and simplifying the lives of users. In cloud computing, large pools of computer systems share an IT infrastructure, enabling 
			products, services and solutions to be accessed and consumed in real-time over the Internet, typically via a subscription model. Cloud computing made it onto Gartner's Hype Cycle 
			Special Report for 2009. The research firm has pointed out that companies are still very interested in learning more about how to consume IT services in the most cost-effective 
			way. One of the solutions...
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#"/>Learn More</a></p>
		</div>
	</div>
	</div>