<div class="gcb-col-55">

  <h1 class="product-headers">
    {{course_info.course.title}}
  </h1>

  <h2 class="product-headers">
    {{course_info.course.blurb}}
  </h2>

  <h2 class="bio-headers">
    {{course_info.course.instructor_details}}
  </h2>

</div>

<div class="gcb-col-5">

  {% if course_info.course.main_video %}
    <iframe class="youtube-player" type="text/html" width="460"
     title="{% trans %} YouTube Video Player {% endtrans %}"
     height="20" src="{{course_info.course.main_video.url}}"
     frameborder="0" allowfullscreen></iframe>
  {% else %}
	

	
	
	
	
	
	

	
	
	
	
	
	
	
	
	
	
	
	
	<div height="100">
	</div>
	
	
	
	<div class="tabGroup">
    <input type="radio" name="tabGroup1" id="rad1" class="tab1" checked="checked"/>
    <label for="rad1">The Course</label>
 
    <input type="radio" name="tabGroup1" id="rad2" class="tab2"/>
    <label for="rad2">Credentials</label>
     
    <input type="radio" name="tabGroup1" id="rad3" class="tab3"/>
    <label for="rad3">Welcome Video</label>
     
    <br/>
 
    <div class="tab1"> <img src="http://mypage.iu.edu/~hplagema/mooc/images/connecttothecloud2.jpg"> </div>
    <div class="tab2"> <img src="http://mypage.iu.edu/~hplagema/mooc/images/credentials.jpg"> </div>
    <div class="tab3"> <img src="http://mypage.iu.edu/~hplagema/mooc/images/learn_more.jpg"> </div>
	</div>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<div id="oscillating_articles">
		<!-- Begin - learn more section (image + article abstracts)-->
		<div class="cloud_computing">
			<img src="http://mypage.iu.edu/~hplagema/mooc/images/cloud_benefits.jpg" style="float: left;"/>
			<p style="font-weight: bold;"> <h1 style="font-size: 120%;">What is Cloud Computing?</h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cloud computing is a general term for anything that involves delivering hosted 
			services over the Internet. These services are broadly divided into three categories: Infrastructure-as-a-Service (IaaS), Platform-as-a-Service (PaaS) and 
			Software-as-a-Service (SaaS).  A cloud service has three distinct characteristics that differentiate it from traditional hosting. It is sold on demand, typically 
			by the minute or the hour; it is elastic -- a user can have as much or as little of a service as they want at any given time; and the service is fully managed by 
			the provider (the consumer needs nothing but a personal computer and Internet access)..... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#"/>Learn More</a></p>
		</div>
		
		<div class="cloud_benefits" style="width: 857px; 80px; padding-top: 20px; padding-bottom: 20px;">
			<img src="http://mypage.iu.edu/~hplagema/mooc/images/cloud_computing.jpg" style="float: right; padding-right: 17px;"/>
			<p style="font-weight: bold;"> <h1 style="font-size: 120%;">How You Can Benefit</h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cloud computing is a general term for anything that involves delivering hosted 
			services over the Internet. These services are broadly divided into three categories: Infrastructure-as-a-Service (IaaS), Platform-as-a-Service (PaaS) and 
			Software-as-a-Service (SaaS).  A cloud service has three distinct characteristics that differentiate it from traditional hosting. It is sold on demand, typically 
			by the minute or the hour; it is elastic -- a user can have as much or as little of a service as they want at any given time; and the service is fully managed by 
			the provider (the consumer needs nothing but a personal computer and Internet access)..... &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#"/>Learn More</a></p>
		</div>
		
		<div class="job_outlook">
			<img src="http://mypage.iu.edu/~hplagema/mooc/images/job_outlook.jpg" style="float: left; padding-right: 17px; padding-bottom: 100px;"/>
			<p style="font-weight: bold;"> <h1 style="font-size: 120%;">Job Outlook</h1> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Cloud computing is one of today's hottest 
			IT trends, because it's all about saving money and simplifying the lives of users. In cloud computing, large pools of computer systems share an IT infrastructure, enabling 
			products, services and solutions to be accessed and consumed in real-time over the Internet, typically via a subscription model. Cloud computing made it onto Gartner's Hype Cycle 
			Special Report for 2009. The research firm has pointed out that companies are still very interested in learning more about how to consume IT services in the most cost-effective 
			way. One of the solutions...
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <a href="#"/>Learn More</a></p>
		</div>
	</div>
  {% endif %}

</div>
